#botiga{
	background: #dfdfdf;
}

h1{
	margin-left: 400px;
	padding-bottom: 20px;
}

.viewDown{
	color: red;
	display: none;
}

#newUser{
	margin-left: 350px;
	margin-right: 20px;
	display: block;
	float: left;
}

#oldUser, #dice2{
	margin-top: 42px;
}

#dice1{
	margin-left: 450px;
	margin-right: 20px;
	display: block;
	float: left;
}


#anonimousUser, #roll{
	margin-left: 400px;
	margin-top: 80px;	
}

#enterGame{
	margin-top: 10px;
	margin-left: 50px;
}
#enterGameUser{
	margin-top: 10px;
	margin-left: 50px;
}
#enterGameAnonimous, #rolling{
	margin-left: 80px;
}

#response1, #response2{
	margin-top: 50px;
	margin-left: 490px;
}

#winlos{
	margin-left: 70px;
}

#titol, #dice1, #dice2, #roll, #response2, #winlos{
	display: none;
}