#botiga{
	background: #dfdfdf;
}

#welcome, .titol{
	margin-left: 400px;
}

.viewDown{
	color: red;
	display: none;
}

#newUser{
	margin-left: 350px;
	margin-right: 20px;
	display: block;
	float: left;
}

#oldUser, #dice2{
	margin-top: 42px;
}

#dice1{
	margin-top: 22px;
	margin-left: 450px;
	margin-right: 20px;
	float: left;
}

#anonimousUser, #roll{
	margin-left: 400px;
	margin-top: 80px;	
}

#enterGame{
	margin-top: 10px;
	margin-left: 50px;
}
#enterGameUser{
	margin-top: 10px;
	margin-left: 50px;
}
#enterGameAnonimous, #rolling{
	margin-left: 80px;
}

#response1, #response2{
	margin-top: 50px;
	margin-left: 490px;
}

#winlos{
	margin-left: 430px;
}

.page2, .edit{
	display: none;
}